@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --tes-main-color: #1B6392;
  --tes-alt-color: #2DA5F3;
  --tes-secondary-color: #FA8232;
  --tes-white-color: #fff;
  --tes-gradient: linear-gradient(
    -90deg,
    var(--tes-black-color) 0%,
    var(--tes-main-color) 100%,
    rgba(0, 0, 0, 0.7)
  );
  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--tes-alt-color) 33.33% 50%,
    transparent 66.66% 75%
  );
  --tes-transition: all 0.4s cubic-bezier(0, 0.15, 0.3, 1);
  --tes-head-dark-text: #b9b9b9;
  --tes-black-text: #9b9b9b;
  --tes-text-color: #5F6C72;
  --tes-light-gry-color:#E4E7E9;
  --tes-error-color: #ee5253;
  --tes-head-text: #405160;
  --tes-black-color: #191C1F;
  --tes-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --tes-border-color: rgba(255, 255, 255, 0.2);
  --tes-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.03);
  --tes-hover-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  --tes-gap:24px;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tes-white-color);
  background-image: none;
  color: var(--tes-head-text);
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  direction: rtl;
}

html {
  
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
}

.ltr {
  direction: ltr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--tes-black-color);
  margin-top: 0;
  line-height: 1.3;
  font-weight: 600;
  text-transform: capitalize;
}


img {
  border: 0;
  max-width: 100%;
  height: auto;
}
svg {
  transition: var(--tes-transition);
  pointer-events: none;
}

.alert-secondary {
  color: #dc2a2a;
}

.tes-icon i {
  color: var(--tes-white-color);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.tes-main-color,
.tes-main-color-title .tes-list-head-text {
  color: var(--tes-main-color);
}

.tes-alt-color {
  color: var(--tes-alt-color);
}

.tes-body-color {
  color: var(--tes-body-color);
}

.tes-main-bg {
  background-color: var(--tes-main-color);
}

.tes-alt-bg {
  background-color: var(--tes-alt-color) !important;
}

.tes-secondary-color {
  color: var(--tes-secondary-color);
}

.btn.tes-secondary-color {
  background-color: var(--tes-secondary-color);
  color: #000;
}

.tes-error-color {
  color: var(--tes-error-color);
}

.tes-gry-bg {
  background-color: var(--tes-gry-color);
}
.tes-sec-title{
  font-size: 24px;
}
/* Globals */
.tes-trans {
  transition: var(--tes-transition);
}

.tes-normal-font {
  font-weight: normal;
}

.d-flex-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--tes-body-color);
  text-decoration: none;
  transition: var(--tes-transition);
  background-color: transparent;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

button:focus {
  outline: 0 transparent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  max-width: 100%;
  outline: 0 transparent !important;
  vertical-align: middle;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px var(--tes-white-color) inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input.form-control[type="file"] {
  width: 100%;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="submit"] {
  cursor: pointer;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="url"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem .785rem .25rem;
  font-size: 0.875rem;
  line-height: 1;
  background-color: #fff;
  outline: 0 transparent;
  box-shadow: none;
  transition: all 0.4s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: var(--tes-main-color) !important;
  box-shadow: none !important;
}

select {
  height: auto;
  min-height: auto;
  min-width: 95px;
  line-height: 1.35;
  -webkit-appearance: none;
}
html:not(.no-js) [data-aos="fade-up"] {
  transform: translate3d(0, 50px, 0);
}
.container,
.container-fluid {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.container-fluid {
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}
textarea {
  height: calc(11em + 0.75rem + 2px);
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tes-section {
  padding: 75px 0 ;
  overflow-x: hidden;

}

.tes-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: .5rem;
  text-align: center;
  width: 100%;
  background-color: var(--tes-secondary-color);
  margin-bottom: 1rem;
  color: var(--tes-white-color);
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid var(--tes-secondary-color);
  transition: var(--tes-transition);
}
.tes-btn:hover{
  transform: translateY(-4px);
  box-shadow: var(--tes-shadow);
}
.tes-white-btn{
  background-color: var(--tes-white-color);
  color: var(--tes-secondary-color);
}
/* -------------------Pre Header Style ------------------ */
.tes-pre-header{
  background-color: var(--tes-main-color);
  padding: .5rem 0;
  box-shadow: 0 -1px 0 0 #407CA4 inset;
  font-size: .85rem;
  color: var(--tes-white-color);
}
.tes-number {
  display: inline-flex;
  gap: 5px;
}
.tes-lang-wrap,
.tes-scoial-wrap,
.tes-lang{
  display: flex;
  align-items: center;
}
.tes-lang-wrap{
  gap:var(--tes-gap);
}
.tes-scoial-wrap{
  gap: 12px;

}
.tes-lang{
  gap: 5px;
  flex-direction: row-reverse;
  border-left: 1px solid #eeeeee73;
  padding-left: .25rem;
  cursor: pointer;
}
/* -------------------Pre Header Style ------------------ */

.tes-header{
  background-color: var(--tes-main-color);
  padding: .785rem 0;
}

.tes-logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.tes-logo h1 {
  font-size: 2rem;
  color: var(--tes-white-color);
  margin: 0;
}
.tes-user-btns {
  display: flex;
  flex-direction: row-reverse;
  gap:var(--tes-gap);
}
.tes-user-btns a {
  cursor: pointer;
  transition: var(--tes-transition);
}
.tes-user-btns a:hover{
  transform: scale(1.06);
}
.tes-main-nav{
  padding: 1rem 0;
  border-bottom: 1px solid #dcdcdc;
}
.tes-nav-list{
 display: flex;
 align-items: center;
 justify-content: center;
 gap:var(--tes-gap);
}
.tes-nav-list a{
  color: var(--tes-text-color);
  transition: var(--tes-transition);
  cursor: pointer;
}
.tes-nav-list a:hover{
  color: var(--tes-main-color);
}
.tes-active-link{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #E8E8E9;
  padding: .5rem 1.25rem;
  border-radius: 2px;
  color: var(--tes-black-color) !important;
}

/* -------------------Product Card Style ------------------ */
.tes-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
  margin-top: 1rem;
}

.tes-product-box {
  width: calc(25% - 15px);
  border:1px solid #e6e6e6;
  padding:1rem;
  border-radius:3px;
  transition: var(--tes-transition);
}
.tes-prod-img {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  padding: 2rem;
}
.tes-prod-img img{
  width: 100%;
  height: 100%;
  transition: var(--tes-transition);
}
.tes-product-btns {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  background-color: #00000071;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: var(--tes-transition);
  border-radius: 4px;
  opacity: 0;
}

.tes-product-btn {
  padding: 1rem;
  background-color: var(--tes-white-color);
  border-radius: 50%;
  transition: var(--tes-transition);
  font-size: 1.25rem;
}
.tes-product-btn:hover{
  background-color: var(--tes-secondary-color);
  color: var(--tes-white-color);
}
.tes-product-box:hover .tes-product-btns {
  top: 0;
  opacity: 1;
}
.tes-product-box:hover img{
  scale: 1.1;
}
.tes-product-box:hover{
  box-shadow: var(--tes-shadow);
}
.tes-prod-content {
  padding: 1rem 0 0;
}

.tes-prod-rate {
  display: flex;
  align-items: center;
  font-size: .85rem;
  gap:5px;
  margin-bottom:.5rem;
  color:var(--tes-text-color);
}

.tes-prod-rate .css-15befwp-MuiRating-root {
      font-size: 1rem;
      color:var(--tes-secondary-color);
}

.tes-prod-content h3{
  font-size:.95rem;
  display: -webkit-box;
  max-width: 95%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tes-prod-content p {
  color: var(--tes-alt-color);
}
/* ---------------------
Loader style
----------------------- */
.tes-preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 10000;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: var(--tes-transition);
}

.tes-preload > * {
  transition: var(--tes-transition);
}

.tes-preload.loaded > * {
  opacity: 0;
  z-index: -1;
}

.tes-preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.tes-circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid var(--tes-white-color);
  border-block-start-color: var(--tes-alt-color);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.tes-preload .tes-text {
  background: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--tes-alt-color);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
/* ---------------------
breadcrumb style
----------------------- */
.tes-breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1rem 0;
}

.tes-bread-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8B96A5;
  transition: var(--tes-transition);
}
.tes-bread-link:hover{
  color: var(--tes-main-color);
}
.tes-active-bread {
  color: var(--tes-main-color);
  font-weight: 600;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
/* ---------------------
login style
----------------------- */
.tes-modal-box{
  width: 450px;
  position: absolute;
  background-color: var(--tes-white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: var(--tes-shadow);
}
.tes-form-group {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: .5rem
}

.tes-form-group label {
  font-size: .85rem;
  font-weight: 600;
  color: var(--tes-text-color);
  text-transform: capitalize;
  margin-bottom: 0
}
.tes-form-group input {
  border: 1px solid var(--tes-light-gry-color);
  border-radius: 4px;
  padding: .5rem 1.25rem;
}
.tes-modal-title {
  font-size: 2rem;
  text-align: center;
  color: var(--tes-main-color);
}

.tes-auth-wrap p  {
  text-align: center;
  margin: .5rem 0;
  color: var(--tes-text-color);
}
.tes-validation-txt {
  font-size: .785rem;
  font-weight: 600;
  color: var(--tes-error-color);
  padding: .0 .25rem 0;
}
.tes-auth-wrap p a {
  color: var(--tes-alt-color);
  margin-left: 5px;
  font-weight: 600
}

.tes-spinning{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------
Back top style
----------------------- */
.tes-back-to-top.active {
  transition: all 0.7s ease;
}

.tes-back-to-top {
  position: fixed;
  background: var(--tes-alt-color);
  color: var(--tes-white-color);
  z-index: 100;
  line-height: 1;
  transition: all 0.7s ease;
  box-shadow: var(--tes-box-shadow);
  pointer-events: none;
  transform: translateY(40px);
  opacity: 0;
  bottom: 20px;
  right: 0;
  border-radius: 5px 0 0 5px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tes-back-to-top svg {
  font-size: 20px;
  display: block;
  transition: all 0.5s cubic-bezier(0.4, 1, 0.3, 1);
}

.tes-back-to-top.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.tes-back-to-top.active:hover {
  transform: scale(1.2) translateY(0);
  box-shadow: 0 27px 20px -18px rgba(0, 0, 0, 0.35);
}

.tes-back-to-top.active:hover svg {
  transform: scale(0.8) translateY(-7px);
}

.tes-back-to-top span {
  font-size: 7px;
  letter-spacing: 1px;
  font-weight: bold;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: var(--tes-transition);
}

.tes-back-to-top.active:hover span {
  opacity: 1;
  bottom: 10px;
}

/* ---------------------
responsive style
----------------------- */

@media (max-width: 991px) {
  .tes-product-box{
    width: calc(33.3% - 15px);
  }
  .tes-sec-title{
    padding-right: 1rem;
  }
}

@media (max-width: 767px) {
  .tes-scoial-wrap{
    @apply hidden;
  }
  .tes-section{
    padding: 50px 0;
  }
  .tes-product-btn{
    @apply p-3;
  }
  .tes-breadcrumb-list{
    @apply gap-3
  }
  .tes-bread-link{
    @apply gap-1;
  }
  .tes-breadcrumb-list li {
    @apply text-[.785rem]
  }
}
@media (max-width: 576px) {
  .tes-product-box{
    width: calc(50% - 15px);
  }
  .tes-main-nav {
    @apply hidden;
  }
  .tes-breadcrumb-list{
    @apply gap-1;
  }
  .tes-active-bread{
    @apply max-w-[150px];
  }
  .tes-preload .tes-text {
    @apply tracking-[5px]
  }
}

@media (max-width: 480px) {

  .tes-logo h1{
    @apply text-2xl;
  }
  .tes-logo img{
    @apply w-[40px] h-[40px];
  }
  .tes-user-btns{
    @apply gap-4;
  }
  .tes-active-bread{
    @apply max-w-[120px];
  }
  .tes-preload .tes-text {
    @apply text-[2rem];
  }
  .tes-modal-box{
    @apply w-full
  }
  .css-jkscjg{
    @apply text-[16px];
  }
  .tes-prod-img {
    @apply p-4 h-[200px];
  }
  .tes-product-btn{
     @apply p-[.5rem];
  }
}
